@import "./Styles.view.less";

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;

    font-family: Roboto, Helvetica, sans-serif;
}

.MainScreen {
    top: 4em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 100;
    overflow: hidden;
    position: absolute;

    #youtuber {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
    }

    .Art {
        z-index: 5;
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
    }
    .Music {
        z-index: 6;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}

.UploadZone {
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: 9999;
    position: absolute;

    border-width: 5px;
    border-style: dashed;
    border-color: #FFF;

    pointer-events: none;

    display: none;
    &[isDragAndDropping] {
        display: block;
    }
}

.DungeonMasterScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    height: 4em;
    z-index: 200;
    overflow: hidden;
    position: absolute;

    background-color: hotpink;
    // background-color: rgba(0, 0, 0, 0.5);

    .MusicSelection {
        .SubmissionForm {
            display: flex;

            input {
                height: 2rem;
                font: inherit;
                font-size: 12px;

                display: block;

                &[type=text] {
                    flex: 1;
                }

                &[type=submit] {
                    padding: 0em 1em;
                }
            }
        }

        .Controls {
            .Timeline {
                // left: 0em;
                // right: 0em;
                // bottom: 4px / -2;
                // position: absolute;
                height: 16px;
                position: relative;

                cursor: pointer;

                .CurrentTime,
                .NextTime,
                .TotalTime {
                    top: 50%;
                    height: 4px;
                    margin-top: 4px / -2;
                    position: absolute;
                    transition-duration: 0.1s;
                    transition-property: height, margin-top;
                    width: 100%;
                }

                &:hover {
                    .CurrentTime,
                    .NextTime,
                    .TotalTime {
                        height: 6px;
                        margin-top: 6px / -2;
                    }

                    .CurrentTime {
                        .Dot {
                            opacity: 1;
                        }
                    }

                    .NextTime {
                        .Timestamp {
                            opacity: 1;
                        }
                    }
                }

                .TotalTime {
                    z-index: 10;
                    background-color: fadeout(#333333, 50%);
                }

                .NextTime {
                    width: 50%;
                    z-index: 20;

                    background-color: fadeout(#999999, 50%);

                    .Timestamp {
                        top: -1.5em;
                        width: 8em;
                        right: 8em / -2;
                        line-height: 1em;
                        font-size: 0.33em;
                        text-align: center;
                        position: absolute;

                        pointer-events: none;

                        span {
                            background-color: fadeout(#999999, 50%);
                        }

                        opacity: 0;
                        transition-duration: 0.1s;
                        transition-property: opacity;
                    }
                }

                .CurrentTime {
                    width: 0%;
                    z-index: 30;

                    background-color: #fc0404;

                    .Dot {
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        right: 10px / -2;
                        margin-top: 10px / -2;
                        margin-left: 10px / -2;
                        position: absolute;

                        border-radius: 100%;
                        background-color: #fc0404;

                        opacity: 0;
                        transition-duration: 0.1s;
                        transition-property: opacity;
                    }
                }
            }

            .Panel {
                height: 1em;
                display: flex;
            }
        }
    }

    .ArtSelection {
        max-width: 320px;
        height: 100%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.5);

        .SelectedArt {
            margin-bottom: 1em;

            .Title {
                height: 1.5em;
                padding: 0em 1em;
                line-height: 1.5em;
                display: block;
                width: 100%;
                border: none;

                font: inherit;
                font-weight: 600;
                font-stretch: condensed;
                background-color: white;
            }
            .Image {
                width: 100%;
                height: 10em;
                border-radius: 4px;
                background-size: cover;
                background-position: center;
            }
            .DeleteArtButton {
                background-color: white;
                border-radius: 2px;
                padding: 0.1em;
            }
        }

        .Search {
            padding: 0em 1em;

            input {
                width: 100%;
                font: inherit;
                font-size: 1.5em;
            }
        }

        .SelectableArts {
            width: 100%;
            height: 100%;
            padding: 1em;
            display: grid;
            row-gap: 1em / @golden-ratio;
            column-gap: 1em / @golden-ratio;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 3em;

            .SelectableArt {
                width: 1fr;
                height: 3em;

                border-radius: 4px;
                background-size: cover;
                background-position: center;
                background-color: black;
            }
        }
    }
}
