@import "./Styles.view.less";

.Frame {
    color: @black;
    text-align: center;
    font-family: comfortaa;
    background-color: @white;
}

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

.MainScreen {
    top: 3em;
    left: 0em;
    right: 0em;
    bottom: 3em;
    overflow: hidden;
    position: absolute;

    .Art {
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
    }
}

.UploadZone {
    top: 4em;
    left: 1em;
    right: 1em;
    bottom: 4em;
    z-index: 9999;
    position: absolute;

    border-width: 5px;
    border-style: dashed;
    border-color: #FFF;

    pointer-events: none;

    display: none;
    &[isDragAndDropping] {
        display: block;
    }
}

.DungeonMasterScreen {
    top: 3em;
    left: 0em;
    right: 0em;
    bottom: 3em;
    overflow: hidden;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);

    .ArtSelection {
        max-width: 320px;
        height: 100%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.5);

        .SelectedArt {
            padding: 1em;

            .Image {
                width: 100%;
                // height: 8em;
                border-radius: 4px;
            }
            .DeleteArtButton {
                background-color: white;
                border-radius: 2px;
                padding: 0.1em;
            }
        }

        .Search {
            padding: 0em 1em;

            input {
                width: 100%;
                font: inherit;
                font-size: 1.5em;
            }
        }

        .SelectableArts {
            width: 100%;
            height: 100%;
            padding: 1em;
            display: grid;
            row-gap: 1em / @golden-ratio;
            column-gap: 1em / @golden-ratio;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3em;

            .SelectableArt {
                width: 1fr;
                height: 3em;

                border-radius: 4px;
                background-size: cover;
                background-color: black;
            }
        }
    }
}
