@import "./Styles.view.less";

* {
    margin: 0px;
    padding: 0px;

    cursor: default;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: #111;
}

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;

    font-family: Roboto, Helvetica, sans-serif;
}

.Embed {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;

    .YoutubeEmbed {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        width: 300px;
        height: 200px;
        position: fixed;
        margin: auto;
        z-index: 10000000;
        position: absolute;
        display: none;
    }
}

// video {
//     left: 0em;
//     right: 0em;
//     bottom: 0em;
//     width: 100%;
//     position: fixed;
//     z-index: 99999999999;
//     mix-blend-mode: screen;
// }

/////////////////
// Animations //
///////////////

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

////////////
// Fonts //
//////////

@font-face {
    font-weight: 400;
    font-stretch: normal;
    font-family: "roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-weight: 600;
    font-stretch: normal;
    font-family: "roboto";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-weight: 200;
    font-stretch: normal;
    font-family: "roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-weight: 400;
    font-stretch: condensed;
    font-family: "roboto";
    src: url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-weight: 600;
    font-stretch: condensed;
    font-family: "roboto";
    src: url("../fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-weight: 200;
    font-stretch: condensed;
    font-family: "roboto";
    src: url("../fonts/roboto/RobotoCondensed-Light.ttf") format("truetype");
}
