@import "../Styles.view.less";

.MapScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 200;
    overflow: hidden;
    position: absolute;

    .Screenshot {
        top: 0em;
        left: 0em;
        right: 0em;
        bottom: 0em;
        z-index: 5;
        position: absolute;

        background-size: cover;
        background-position: center;

        filter: blur(8px);
    }
}
