.DragAndDrop {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    padding: 1em;
    // z-index: 9999;
    pointer-events: none;
    position: absolute;

    .UploadZone {
        width: 100%;
        height: 100%;

        border-width: 5px;
        border-style: dashed;
        border-color: white;

        pointer-events: none;

        display: none;
        &[isDragAndDropping] {
            display: block;
        }
    }
}
